.logo{ 
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.second-half{
color:black    
}

.second-half-bottom{
color:white    
}

ul{
list-style: none
}

ul > li > a {
text-decoration: none;
}

.first-list .list-item:hover,
.first-list .list-item:focus{
color: #2196F3;    
}

.first-list .list-item:active{
color:purple;    
}


.second-list .list-item:hover,
.second-list .list-item:focus{
color: #2196F3;    
}

.second-list .list-item:active{
color:purple;    
}

.contact-info .list-item:hover,
.contact-info .list-item:focus{
color: #2196F3;    
}

.contact-info .list-item:active{
color:purple;    
}

.first-list a {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;}

.second-list a {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.service-requesting {
background: #2F303A;
width: 1600px;
height: 600px;
}

.service-requesting .button-setter:hover,
.service-requesting .button-setter:focus{
color:#212121;    
}

.effective-solutions{
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 136%;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;   
color: #FFFFFF;
}

.button-setter{
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 188%;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
}

.features h3 {
width: 270px;
height: 15.05px;    
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.features p {
font-family: 'Roboto';
font-size: 14px;
line-height: 24px;
color: #757575;
}

.work-pictures h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}

.team-pictures{
background: #F5F4FA; 
}

.team-pictures h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121; 
}

.team-pictures h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;   
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-pictures p { 
font-family: 'Roboto';
font-size: 16px;
line-height: 19px;   
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

.bottom{
width: 1600px;
height: 252px;  
background: #2F303A;
}

.contact-info a {
font-family: 'Roboto';
font-size: 14px;
line-height: 171%;   
letter-spacing: 0.03em;
color: #FFFFFF;
}

.contact-info > li > a[href="mailto:example@gmail.ru"]{
font-family: 'Roboto';
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);   
}

.contact-info > li > a[href="tel:+12127724150"]{
font-family: 'Roboto';
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);   
}

.third-list a {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 162%;   
text-align: center;
letter-spacing: 0.03em;  
color: #212121;     
background: #F5F4FA;
border-radius: 4px;   
}

.third-list .list-item:hover,
.third-list .list-item:focus{
background-color:#2196F3;    
}

.third-list .list-item:active{
color: #FFFFFF;    
}

/*.third-list > li > a[href="all.html"]{
position: absolute; 
text-align: center;  
line-height: 162%;
width: 73px;
height: 38px;  
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.third-list > li > a[href="web-sites.html"]{
position: absolute; 
text-align: center;  
line-height: 162%;
width: 73px;
height: 38px;  
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

